:root {
    --moon: rgb(75, 76, 90);
    --peach: rgb(255, 185, 148);
    --coal: rgb(20, 12, 11);
}

body {
    background-color: var(--coal);
}

a {
    color: whitesmoke;
    text-decoration: none;
}

h2 {
    font-family: 'advent_probold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    font-size: 40px;
    color: var(--peach);
}

@font-face {
    font-family: "advent_probold";
    src: url('C:/Users/amand/OneDrive/Desktop/Coding/ACD-Portfolio/assets/css/fonts/adventpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advent_proregular';
    src: url('C:/Users/amand/OneDrive/Desktop/Coding/ACD-Portfolio/assets/css/fonts/adventpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    padding: 25px;
    font-family: 'advent_probold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../images/stock-photo-mountains.png");
    min-height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: var(--moon);
}

.header h1 {
    display: inline-block;
    font-size: 60px;
}

.header nav {
    padding-top: 15px;
    margin-right: 25px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: var(--moon)
}
